body{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
color:darkblue;
}
.content{
    color:initial;
}
.container h1{
    color:red;
}
.nested{
    border:4px solid maroon;
    color:red;
    background-color: yellow;
}