*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width:400px;
    height: 180;
    padding: 2px;
    background-color: whitesmoke;
    box-shadow: 0 15px 25px gray;
}
.title{
    text-align: center;
}
.card-title{
    text-align:center;
}
.btn{
    text-align: center;
    width:80px;
    height:30px;
    background-color: blue;
    color:white;
}
.container{
    text-align:center;
}